<IfModule mod_rewrite.c>
    RewriteEngine On

    # Uncomment the next line for debugging
    # RewriteLog "/path/to/rewrite.log"
    # RewriteLogLevel 3

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*)$ $1.html [L]
</IfModule>
