body{
    font-family: Arial, sans-serif;
    background-image: url(img/Blue\ Bg\ Gr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin: 10px 0;
  }
  
  #moviePoster {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  p {
    font-size: 18px;
    color: #777;
  }
  
  #downloadLink {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  #downloadLink:hover {
    background-color: #0056b3;
  }
  
  #Stream {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  #Stream :hover {
    background-color: #0056b3;
  }
  
  /* Add these styles to your CSS file */
#comments {
  margin-top: 20px;
}

#comments h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#commentInput {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}

#postComment {
  display: block;
}

.comment {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
