html, body {
    margin: 0;
    padding: 0;
    background-image: url(img/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
}

.logo:hover img {
    width: 390px;
    height: 84px; 
    transform: rotate(360deg);
    transition: 5s;
}

.nav {
    display: flex;
    list-style: none;
}
  
.nav li {
    margin: 0 10px;
}
  
.nav li a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

.search-bar {
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}
   
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
#searchInput {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}
  
#search-button {
    background-color: #007BFF;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  
#search-button:hover {
    background-color: #0056b3;
}

.trail {
    position: absolute;
    top: 14%;
    left: 50%;
    display: inline-flex;
    align-items: center;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    text-decoration: underline overline;
    letter-spacing: 1px;
    font-size: x-large;
}

.vim{
    width: 300px;
    height: 300px;
}

.movie {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .movie p {
    margin: 5px 0;
  }

.video-container {
    display: flex;
    justify-content: center;
    max-width: calc(6 * (300px + 10px));
    flex-wrap: wrap;
    overflow-y: hidden;
}

.video {
    width: 300px;
    height: 300px;
    margin: 10px; /* Add some margin to create space between videos */
}

/* Add this CSS to your existing code */
.video-title {
    color: white; /* Change the color to make movie titles visible */
}
